@page "/tenant-campaigns"
@using PhishingPortal.Dto
@using PhishingPortal.UI.Blazor.Client

@inject TenantClient client
@inject ILogger<TenantCampaigns> logger
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore

@if (campaigns == null)
{
    <div class="col-sm-12" style="margin-top:45vh">
      
            <div class="card-header">
              <div class="loading-bar"></div>
            </div>
   
    </div>
}
else
{
   <div class="row">
     <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Recent Campaigns</h5>
                 <a class="btn btn-primary" href="tenant-campaign-config"><span class="oi oi-plus"></span></a>
              
            </div>
       
            <div class="card-body">
                <div class="col-md-12" style="padding: 0;">
                    <div class="bt-wizard" id="tabswizard">
                        <ul class="nav nav-pills">
                            @if(CTab == 1)
                            {
                            <li class="nav-item"><a href="#tabs-t-tab1" @onclick="Emailc" class="nav-link rounded-0 active" data-toggle="tab">Email</a></li>
                            <li class="nav-item"><a href="#tabs-t-tab2" @onclick="Smsc" class="nav-link rounded-0" data-toggle="tab">SMS</a></li>
                            <li class="nav-item"><a href="#tabs-t-tab3" @onclick="Whatsappc" class="nav-link rounded-0" data-toggle="tab">Whatsapp</a></li>
                            }
                            @if(CTab == 2)
                            {
                            <li class="nav-item"><a href="#tabs-t-tab1" @onclick="Emailc" class="nav-link rounded-0 " data-toggle="tab">Email</a></li>
                            <li class="nav-item"><a href="#tabs-t-tab2" @onclick="Smsc" class="nav-link rounded-0 active" data-toggle="tab">SMS</a></li>
                            <li class="nav-item"><a href="#tabs-t-tab3" @onclick="Whatsappc" class="nav-link rounded-0" data-toggle="tab">Whatsapp</a></li>
                            }
                            @if(CTab == 3)
                            {
                            <li class="nav-item"><a href="#tabs-t-tab1" @onclick="Emailc" class="nav-link rounded-0 " data-toggle="tab">Email</a></li>
                            <li class="nav-item"><a href="#tabs-t-tab2" @onclick="Smsc" class="nav-link rounded-0" data-toggle="tab">SMS</a></li>
                            <li class="nav-item"><a href="#tabs-t-tab3" @onclick="Whatsappc" class="nav-link rounded-0 active" data-toggle="tab">Whatsapp</a></li>
                            }

                        </ul>
                           <div class="tab-content card">
                               <div class="pt-1 bg-primary"></div>
                              
                                <div class="tab-pane card-body pt-4 @Eml" id="tabs-t-tab1">
                                  <div class="table-responsive">
                                     <table id="email" class="table table-striped table-bordered nowrap">
                                        <thead>
                                        <tr role="row">
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>ScheduleType</th>
                                            <th>Schedule</th>
                                            <th>Status</th>
                                            <th>IsActive</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody> 
                                    
                                             @foreach (var c in campaigns.Where(o => o.Detail.Type == CampaignType.Email))
                                             {
                                                <tr role="row" class="odd">
                                                    <td><a class="btn-link" href="tenant-campaign-config/@c.Id">@c.Id</a></td>
                                                    <td>@c.Name</td>
                                                    <td>@c.Description</td>
                                                    <td>@c.Schedule.ScheduleType.ToString()</td>
                                                    <td>
                                                        @c.Schedule.ScheduleInfo
                                                    </td>
                                                    <td>
                                                        @if(@c.State==CampaignStateEnum.Draft){<span style="color:black">@c.State</span>}
                                                        @if(@c.State==CampaignStateEnum.Published){<span style="color:blue">@c.State</span>}
                                                        @if(@c.State==CampaignStateEnum.InProgress){<span style="color:cyan">@c.State</span>}
                                                        @if(@c.State==CampaignStateEnum.Completed){<span style="color:green">@c.State</span>}
                                                        @if(@c.State==CampaignStateEnum.Aborted){<span style="color:red">@c.State</span>}
                                                        @if(@c.State==CampaignStateEnum.Unknown){<span style="color:orange">@c.State</span>}
                                                    </td>
                                                    <td>@c.IsActive</td>
                                         
                                        
                                                    <td>
                                                        @*<a href="#" title="View Campaign" class="btn btn-secondary btn-sm"><i class="fa fa-eye"></i></a>*@
                                                        <a href="tenant-campaign-config/@c.Id" title="Edit Campaign" class="btn btn-primary btn-sm" ><i class="fa fa-edit"></i></a>
                                                        @*<a href="#" title="Delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>*@
                                                    </td>
                                                </tr>
                                             }
                                        </tbody>
                                   
                                           
                                     </table>
                                     <div style="float:right">
                                          <nav aria-label="Page navigation example">
                                              <ul class="pagination">
                                                            <li class="page-item"><button class="page-link" @onclick="Prev">Previous</button></li>
                                                            <li class="page-item"><a class="page-link">@pageIndexx</a></li>
                                                            <li class="page-item"><button class="page-link" @onclick="Next">Next</button></li>
                                              </ul>
                                          </nav>
                                      </div>
                                  </div>
                               </div>
                               <div class="tab-pane card-body pt-4" id="tabs-t-tab2">                              
                                      <div class="tab-pane card-body pt-4 @Sm" id="tabs-t-tab2">
                                          <div class="table-responsive">
                                             <table id="sms" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr role="row">
                                                    <th>Id</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>ScheduleType</th>
                                                    <th>Schedule</th>
                                                    <th>Status</th>
                                                    <th>IsActive</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody> 
                                    
                                                     @foreach (var c in campaigns.Where(o => o.Detail.Type == CampaignType.Sms))
                                                     {
                                                        <tr role="row" class="odd">
                                                            <td><a class="btn-link" href="tenant-campaign-config/@c.Id">@c.Id</a></td>
                                                            <td>@c.Name</td>
                                                            <td>@c.Description</td>
                                                            <td>@c.Schedule.ScheduleType.ToString()</td>
                                                            <td>
                                                                @c.Schedule.ScheduleInfo
                                                            </td>
                                                            <td>
                                                                @if(@c.State==CampaignStateEnum.Draft){<span style="color:black">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Published){<span style="color:blue">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.InProgress){<span style="color:cyan">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Completed){<span style="color:green">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Aborted){<span style="color:red">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Unknown){<span style="color:orange">@c.State</span>}
                                                            </td>
                                                            <td>@c.IsActive</td>
                                         
                                        
                                                            <td>
                                                                
                                                                <a href="tenant-campaign-config/@c.Id" title="Edit Campaign" class="btn btn-primary btn-sm" ><i class="fa fa-edit"></i></a>
                                                                
                                                            </td>
                                                        </tr>
                                                     }
                                                </tbody>
                                   
                                           
                                             </table>
                                             <div style="float:right">
                                                  <nav aria-label="Page navigation example">
                                                     <ul class="pagination">
                                                                <li class="page-item"><button class="page-link" @onclick="Prev">Previous</button></li>
                                                                <li class="page-item"><a class="page-link">@pageIndexx</a></li>
                                                                <li class="page-item"><button class="page-link" @onclick="Next">Next</button></li>
                                                     </ul>
                                                  </nav>
                                              </div>
                                          </div>
                                      </div>
                            
                               </div>
                               <div class="tab-pane card-body pt-4" id="tabs-t-tab3">                              
                                      <div class="tab-pane card-body pt-4 @Wtsp" id="tabs-t-tab3">
                                          <div class="table-responsive">
                                             <table id="SchdCampaign" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr role="row">
                                                    <th>Id</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>ScheduleType</th>
                                                    <th>Schedule</th>
                                                    <th>Status</th>
                                                    <th>IsActive</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody> 
                                    
                                                     @foreach (var c in campaigns.Where(o => o.Detail.Type==CampaignType.Whatsapp))
                                                     {
                                                        <tr role="row" class="odd">
                                                            <td><a class="btn-link" href="tenant-campaign-config/@c.Id">@c.Id</a></td>
                                                            <td>@c.Name</td>
                                                            <td>@c.Description</td>
                                                            <td>@c.Schedule.ScheduleType.ToString()</td>
                                                            <td>
                                                                @c.Schedule.ScheduleInfo
                                                            </td>
                                                            <td>
                                                                @if(@c.State==CampaignStateEnum.Draft){<span style="color:black">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Published){<span style="color:blue">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.InProgress){<span style="color:cyan">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Completed){<span style="color:green">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Aborted){<span style="color:red">@c.State</span>}
                                                                @if(@c.State==CampaignStateEnum.Unknown){<span style="color:orange">@c.State</span>}
                                                            </td>
                                                            <td>@c.IsActive</td>
                                         
                                        
                                                            <td>
                                                               
                                                                <a href="tenant-campaign-config/@c.Id" title="Edit Campaign" class="btn btn-primary btn-sm" ><i class="fa fa-edit"></i></a>
                                                                
                                                            </td>
                                                        </tr>
                                                     }
                                                </tbody>
                                   
                                           
                                             </table>
                                             <div style="float:right">
                                                  <nav aria-label="Page navigation example">
                                                     <ul class="pagination">
                                                                <li class="page-item"><button class="page-link" @onclick="Prev">Previous</button></li>
                                                                <li class="page-item"><a class="page-link">@pageIndexx</a></li>
                                                                <li class="page-item"><button class="page-link" @onclick="Next">Next</button></li>
                                                     </ul>
                                                  </nav>
                                              </div>
                                          </div>
                                      </div>
                               </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
@CTab
</div>

}
@code {
    string message = string.Empty;
    IEnumerable<Campaign> campaigns = null;
    int pageSize = 10;
    int pageIndex = 0;
    int pageIndexx = 0;
    public string filter { get; set; }
    int CTab = 1;
    string Eml = "active show";
    string Sm = "";
    string Wtsp = "";
    protected override async Task OnInitializedAsync()
    {
        campaigns = await client.GetCampaignsAsync(pageIndex, pageSize);



        if (campaigns == null || campaigns.Count() == 0)
            message = "No campaigns found!";

        CTab = await oLocalStore.GetItemAsync<int>("cTab");
        if(CTab==1){Eml = "active show"; Sm = ""; Wtsp = "";}
        else if(CTab==2){Eml = ""; Sm = "active show"; Wtsp = "";}
        else if(CTab==3){Eml = ""; Sm = ""; Wtsp = "active show";}

        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/pages/form-select-custom.js");
        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/jquery.dataTables.min.js");
        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/dataTables.bootstrap4.min.js");

        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/buttons.colVis.min.js");
        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/dataTables.buttons.min.js");
        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/pages/data-basic-custom.js");
        await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/jquery.bootstrap.wizard.min.js");

        //await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/pcoded.min.js");
        //await JSRuntime.InvokeAsync<IJSObjectReference>("import","https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js");
        //await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/responsive-all.min.js");
        //await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/bootstrap.min.js");
        //await JSRuntime.InvokeAsync<IJSObjectReference>("import","/custom/assets/js/plugins/select2.full.min.js");
    }
    public async void SaveSession()
    {
        await oLocalStore.SetItemAsync("cTab", CTab);
    }

    protected async Task Next()
    {

        pageIndex++;
        pageIndexx = pageIndex;
        campaigns = await client.GetCampaignsAsync(pageIndex, pageSize);
    }
    protected async Task Prev()
    {
        if(pageIndex > 0)
        {
            pageIndex--;
            pageIndexx = pageIndex;
        }
        campaigns = await client.GetCampaignsAsync(pageIndex, pageSize);
    }
    public void Emailc(){ CTab = 1; SaveSession(); Eml = "active show"; Sm = ""; Wtsp = ""; }
    public void Smsc(){ CTab = 2; SaveSession(); Eml = ""; Sm = "active show"; Wtsp = "";}
    public void Whatsappc(){CTab = 3; SaveSession(); Eml = ""; Sm = ""; Wtsp = "active show";}

}
