@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@inject IJSRuntime JS

<style>
    @@media screen and (max-width: 450px) {
        .menu-styler {
            display: none !important;
        }
    }

    @@media screen and (min-width: 450px) {
        .menu-styler {
            display: block !important;
        }
    }
</style>

<div>
    <nav class="pcoded-navbar menupos-fixed @(layout) @(IsSidebarCollapsed ? "navbar-collapsed" : "")">
        <div class="navbar-wrapper non-selectable">
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Phish</label>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link" @onclick="ToggleDashboard" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i>
                            </span><span class="pcoded-mtext">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item pcoded-hasmenu @(IsTemplateExpanded ? "pcoded-trigger" : "")">
                        <a class="nav-link" @onclick="ToggleTemplate"  style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-layout"></i>
                            </span>
                            <span class="pcoded-mtext">Templates</span>
                        </a>
                        <ul class="pcoded-submenu @(IsTemplateExpanded ? "d-block" : "d-none")">
                            <li><a href="tenant-templates">All Templates</a></li>
                            <li><a href="tenant-templates-config">Add Templates</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-hasmenu @(IsCampaignExpanded ? "pcoded-trigger" : "")">
                        <a class="nav-link " @onclick="ToggleCampaign" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i>
                            </span><span class="pcoded-mtext">Campaigns</span>
                        </a>
                        <ul class="pcoded-submenu @(IsCampaignExpanded ? "d-block" : "d-none")">
                            <li><a href="tenant-campaigns">All Campaigns</a></li>
                            <li><a href="tenant-campaign-config">New Campaign</a></li>

                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Learn</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu @(IsTrainingExpanded ? "pcoded-trigger" : "")">
                        <a class="nav-link " @onclick="ToggleTraining" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-box"></i>
                            </span><span class="pcoded-mtext">Training</span>
                        </a>
                        <ul class="pcoded-submenu @(IsTrainingExpanded ? "d-block" : "d-none")">
                            <li><a href="training">All Training</a></li>
                            <li><a href="tenant-training-config">New Training</a></li>
                            <li><a href="training-video-upload">Training Video</a></li>
                            <li><a href="training-Quizzes">Training Quiz</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="training/my-trainings" class="nav-link " @onclick="ToggleMyTraining" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-book"></i>
                            </span><span class="pcoded-mtext">My Training</span>
                        </a>
                    </li>

                    <li class="nav-item pcoded-hasmenu @(IsReportExpanded ? "pcoded-trigger" : "")">
                        <a class="nav-link " @onclick="ToggleReport" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-pie-chart"></i>
                            </span><span class="pcoded-mtext">Report</span>
                        </a>
                        <ul class="pcoded-submenu @(IsReportExpanded ? "d-block" : "d-none")">
                            <li><a href="report">Campaign Report</a></li>
                            <li><a href="tenant-training-report">Training Report</a></li>


                        </ul>
                    </li>


                    <li class="nav-item pcoded-menu-caption">
                        <label>Configuration</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu @(IsSettingExpanded ? "pcoded-trigger" : "")">
                        <a class="nav-link " @onclick="ToggleSetting" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-settings"></i>
                            </span><span class="pcoded-mtext">Settings</span>
                        </a>
                        <ul class="pcoded-submenu @(IsSettingExpanded ? "d-block" : "d-none")">
                            <li><a href="az-config">Azure App Configurations</a></li>
                            <li><a href="onprem-ad-config">AD Configurations</a></li>
                            <li><a href="tenant-domains">Domain Configurations</a></li>
                            <li><a href="redirect-urls">Return Url Configurations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Help Center</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu @(IsFaqExpanded ? "pcoded-trigger" : "")">
                        <a class="nav-link " @onclick="ToggleFaq" style="cursor:pointer">
                            <span class="pcoded-micon">
                                <i class="feather icon-help-circle"></i>
                            </span><span class="pcoded-mtext">
                                FAQ
                            </span>
                        </a>
                        <ul class="pcoded-submenu @(IsFaqExpanded ? "d-block" : "d-none")">
                            <li class="nav-item pcoded-hasmenu @(IsGetStartedExpand ? "pcoded-trigger" : "")">
                                <a class="nav-link " @onclick="ToggleGetStarted">
                                    @*<a class="nav-link" @onclick:preventDefault @onclick:stopPropagation="ToggleGetStarted">*@
                                    <span class="pcoded-mtext">Get Started</span>
                                </a>
                                <ul class="pcoded-submenu @(IsGetStartedExpand ? "d-block" : "d-none")">
                                    <li><a href="/get-started-content">What is PhishSims?</a></li>
                                    <li><a href="/quick-start-content">Quick Start Guide</a></li>
                                    <li><a href="/support-content">How we support you?</a></li>
                                    <li><a href="/listing-content">Allow Listing in Microsoft 365</a></li>
                                    <li><a href="/new-campaign-content">How to create Campaign?</a></li>
                                    <li><a href="/template-content">How to create Campaign Template?</a></li>
                                    <li><a href="/sync-with-azure">Syncing with Azure</a></li>
                                </ul>
                            </li>
                            <li class="nav-item pcoded-hasmenu @(IsReportHubExpand ? "pcoded-trigger" : "")">
                                <a class="nav-link " @onclick="ToggleReportHub">
                                    <span class="pcoded-mtext">Report Hub</span>
                                </a>
                                <ul class="pcoded-submenu @(IsReportHubExpand ? "d-block" : "d-none")">
                                    <li><a href="/campaign-report">How to view Campaign Report?</a></li>
                                    <li><a href="/training-report">How to view Training Report?</a></li>

                                </ul>
                            </li>
                            <li class="nav-item pcoded-hasmenu @(IsPhishTrainExpand ? "pcoded-trigger" : "")">
                                <a class="nav-link " @onclick="TogglePhishTrain">
                                    <span class="pcoded-mtext">PhishSims Trainings</span>
                                </a>
                                <ul class="pcoded-submenu @(IsPhishTrainExpand ? "d-block" : "d-none")">
                                    <li><a href="/training-content">How to create Training?</a></li>
                                    <li><a href="/quiz-content">How to create Quiz for Training?</a></li>
                                    <li><a href="/training-video-content">How to upload Video for Training?</a></li>

                                </ul>
                            </li>
                            <li><a href="/phishSims-policy">PhishSims Policy</a></li>
                            <li class="nav-item pcoded-hasmenu @(IsRiskScoreExpand ? "pcoded-trigger" : "")">
                                <a class="nav-link " @onclick="ToggleRiskScore">
                                    <span class="pcoded-mtext">Risk Score</span>
                                </a>
                                <ul class="pcoded-submenu @(IsRiskScoreExpand ? "d-block" : "d-none")">
                                    <li><a href="/risk-overview">Overview of Risk Score</a></li>
                                    <li><a href="/risk-score-content">How to check Risk Score?</a></li>

                                </ul>
                            </li>
                            <li><a href="tbl_border.html">Account Setting</a></li>

                        </ul>
                    </li>


                </ul>
                @* <div class="card text-center @(RemoveHelpCard ? "d-none" : "d-block")">
                <div class="card-block">
                <button type="button" @onclick="()=>RemoveHelpCard = true" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="feather icon-sunset f-40"></i>
                <h6 class="mt-3">Help?</h6>
                <p>Please contact us on our email for need any support</p>
                <a target="_blank" class="btn btn-primary btn-sm text-white m-0">Support</a>
                </div>
                </div> *@
            </div>
        </div>
    </nav>

    <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed @(headerColor)">
        <div class="m-header" style="cursor:pointer">
            <a @onclick="ToggleSidebar" class="mobile-menu" id="mobile-collapse"><span></span></a>
            <a class="b-brand" href="/">
                <img src="assets/images/3d-logo-icon.png" alt="" class="logo" style="width:150px;height:46px;">
            </a>
            <a class="mob-toggler" @onclick="()=>MobileToggle = !MobileToggle">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse @(MobileToggle ? "d-flex" : "")">
            <ul class="navbar-nav mr-auto">
                @* <li class="nav-item">
                <a class="pop-search"><i class="feather icon-search"></i></a>
                <div class="search-bar">
                <input type="text" class="form-control border-0 shadow-none" placeholder="Search here">
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                </li> *@
                <li class="nav-item">
                    <a class="full-screen" onclick="javascript:toggleFullScreen()" style="cursor:pointer">
                        <i class="feather icon-maximize"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="displayChatbox dropdown-toggle" @onclick="()=>OpenChat=true" style="cursor:pointer">
                            <i class="icon feather icon-mail"></i><span class="badge bg-success"><span class="sr-only"></span></span>
                        </a>
                    </div>
                </li>
                <li>
                    <LoginDisplay />
                </li>
            </ul>
        </div>
    </header>

    <section class="header-user-list @(OpenChat ? "open" : "")">
        <a class="h-close-text" @onclick="()=>OpenChat=false" style="cursor:pointer"><i class="feather icon-x"></i></a>
        <ul class="nav nav-tabs" id="chatTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-uppercase border-0" id="setting-tab" data-toggle="tab" href="#setting"
                   role="tab" aria-controls="setting" aria-selected="false">
                    <i class="feather icon-settings mr-2"></i>Setting
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-uppercase border-0" id="chat-tab" data-toggle="tab" href="#chat"
                   role="tab" aria-controls="chat" aria-selected="true">
                    <i class="feather icon-message-circle mr-2"></i>Chat
                </a>
            </li>
        </ul>
        <div class="tab-content" id="chatTabContent" style="overflow: auto; scrollbar-width: none;">
            <div class="tab-pane fade show active" id="setting" role="tabpanel" aria-labelledby="setting-tab">
                <div class="p-4 main-friend-cont scroll-div">
                    <h6 class="mt-2"><i class="feather icon-monitor mr-2"></i>Desktop settings</h6>
                    <hr>
                    <div class="form-group mb-0">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="cn-p-1" checked>
                            <label for="cn-p-1" class="cr"></label>
                        </div>
                        <label class="f-w-600">Allow desktop notification</label>
                    </div>
                    <p class="text-muted ml-5">you get lettest content at a time when data will updated</p>
                    <div class="form-group mb-0">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="cn-p-5">
                            <label for="cn-p-5" class="cr"></label>
                        </div>
                        <label class="f-w-600">Store Cookie</label>
                    </div>
                    <h6 class="mb-0 mt-5"><i class="feather icon-layout mr-2"></i>Application settings</h6>
                    <hr>
                    <div class="form-group mb-0">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="cn-p-3" checked>
                            <label for="cn-p-3" class="cr"></label>
                        </div>
                        <label class="f-w-600">Backup Storage</label>
                    </div>
                    <p class="text-muted mb-0 ml-5">Automaticaly take backup as par schedule</p>
                    <div class="form-group mb-4">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="cn-p-4" checked>
                            <label for="cn-p-4" class="cr"></label>
                        </div>
                        <label class="f-w-600">Allow guest to print file</label>
                    </div>
                    <h6 class="mb-0 mt-5"><i class="feather icon-globe mr-2"></i>System settings</h6>
                    <hr>
                    <div class="form-group mb-0">
                        <div class="switch switch-primary d-inline m-r-10">
                            <input type="checkbox" id="cn-p-2">
                            <label for="cn-p-2" class="cr"></label>
                        </div>
                        <label class="f-w-600">View other user chat</label>
                    </div>
                    <p class="text-muted ml-5">Allow to show public user message</p>
                </div>
            </div>

            <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                <div class="h-list-header">
                    <span><i class="fas fa-assistive-listening-systems pr-1"></i> Chat Support</span>
                </div>
                <div class="h-list-body">
                    <div class="p-4 main-friend-cont scroll-div">
                        <div>
                            <span class="main-friend-cont">This feature is currently unavailable!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@code {
    [Parameter]
    public EventCallback<bool> IsCollapsedChanged { get; set; }
    string layout = "menu-light";
    string headerColor = "header-blue";

    private bool IsSidebarCollapsed = false;
    private async void ToggleSidebar()
    {
        layout = await oLocalStore.GetItemAsync<string>("layout");
        IsSidebarCollapsed = !IsSidebarCollapsed;
        IsCollapsedChanged.InvokeAsync(IsSidebarCollapsed);
    }

    private bool IsTemplateExpanded = false;
    private bool IsCampaignExpanded = false;
    private bool IsTrainingExpanded = false;
    private bool IsReportExpanded = false;
    private bool IsSettingExpanded = false;
    private bool IsFaqExpanded = false;
    private bool IsGetStartedExpand = false;
    private bool IsReportHubExpand = false;
    private bool IsPhishTrainExpand = false;
    private bool IsRiskScoreExpand = false;

    private bool MobileToggle = false;
    private bool OpenChat = false;
    private bool RemoveHelpCard = false;

    private void ToggleDashboard(MouseEventArgs e)
    {
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleTemplate(MouseEventArgs e)
    {
        IsTemplateExpanded = !IsTemplateExpanded;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;

    }
    private void ToggleCampaign(MouseEventArgs e)
    {
        IsCampaignExpanded = !IsCampaignExpanded;
        IsTemplateExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleTraining(MouseEventArgs e)
    {
        IsTrainingExpanded = !IsTrainingExpanded;
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleMyTraining(MouseEventArgs e)
    {
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleReport(MouseEventArgs e)
    {
        IsReportExpanded = !IsReportExpanded;
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsSettingExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleSetting(MouseEventArgs e)
    {
        IsSettingExpanded = !IsSettingExpanded;
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsFaqExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleFaq(MouseEventArgs e)
    {
        IsFaqExpanded = !IsFaqExpanded;
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleGetStarted(MouseEventArgs e)
    {
        IsGetStartedExpand = !IsGetStartedExpand;

        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void ToggleReportHub(MouseEventArgs e)
    {
        IsReportHubExpand = !IsReportHubExpand;

        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsGetStartedExpand = false;

        IsPhishTrainExpand = false;
        IsRiskScoreExpand = false;
    }
    private void TogglePhishTrain(MouseEventArgs e)
    {
        IsPhishTrainExpand = !IsPhishTrainExpand;
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;

        IsRiskScoreExpand = false;
    }
    private void ToggleRiskScore(MouseEventArgs e)
    {
        IsRiskScoreExpand = !IsRiskScoreExpand;
        IsTemplateExpanded = false;
        IsCampaignExpanded = false;
        IsTrainingExpanded = false;
        IsReportExpanded = false;
        IsSettingExpanded = false;
        IsGetStartedExpand = false;
        IsReportHubExpand = false;
        IsPhishTrainExpand = false;

    }

    protected override async Task OnInitializedAsync()
    {
        layout = await oLocalStore.GetItemAsync<string>("layout");
        headerColor = await oLocalStore.GetItemAsync<string>("headerColor");
        await JS.InvokeVoidAsync("setLayout", layout, headerColor);
    }

}
