@using Microsoft.Extensions.Primitives;
@using PhishingPortal.Dto
@using PhishingPortal.UI.Blazor.Client
@using Microsoft.Extensions.Logging
@using PhishingPortal.UI.Blazor.Pages.GridButtons

@page "/provision"
@inject TenantAdminClient adminClient
@inject NavigationManager navMgr
@inject HttpClient HttpClient
@inject AuthState authState;
@attribute [Authorize]

<div class="row">
    <div class="col-sm-12 p-0">
        <div class="card">
            <div class="card-header" style="padding:5px 8px 0px;">
                <h5 style="top:-5px">Provision Client</h5>
                <a href="onboard" style="line-height:55px; margin-left:-10px"><i class="fa fa-plus-circle fa-2x" aria-hidden="true" title="New"></i></a>
                <div style="float:right; margin-bottom:-6px">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item active">Provision Client</li>
                    </ol>
                </div>
            </div>

            <div class="card-body p-2 mt-n3">
               @*  <div style="overflow: hidden;">
                    <GridComponent @ref="_gridComponent" T="Tenant" Grid="@_grid"></GridComponent>
                </div> *@
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td>UniqueId</td>
            <td>Name</td>
            <td>ConfirmationLink</td>
            <td>Subscription</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in AllTenants)
        {
            <tr>
                <td><a class="btn-link" href="edittenant/@t.UniqueId">@t.UniqueId</a></td>
                <td>@t.Name</td>
                <td>@if(t.ConfirmationState == ConfirmationStats.Registered
                                && t.ConfirmationState != ConfirmationStats.MasterUser
                                && t.ConfirmationState != ConfirmationStats.Licensed)
                    {
                        <a class="btn-link" target="_blank" href="@t.ConfirmationLink">Confirm</a>
                    }
                    else
                    {
                        @t.ConfirmationState.ToString()
                    }
                </td>
                <td><button class="btn btn-outline-primary" type="button" @onclick="@(() => navMgr.NavigateTo($"subscription/{t.UniqueId}"))">Subscription</button></td>

            </tr>
        }
    </tbody>
</table>


@code {
    private GridComponent<Tenant> _gridComponent;
    private CGrid<Tenant> _grid;
    private Task _task;
    static bool filter = true;

    ProvisionTenantRequest request = new();

    List<Tenant> AllTenants = new List<Tenant>();

    protected override async Task OnInitializedAsync()
    {
        AllTenants = await adminClient.GetAllAsync();
    }

}
